.search-page-container {
  margin: 24;

  .filter-container {
    display: flex;
    justify-content: flex-end;
  };

  .profiles-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;

    .skeleton-container {
      display: flex;
      justify-content: center;
      align-items: center;
  
      .skeleton {
        position: relative;
        width: 200px;
        height: 300px;
      };
    };  
  };

  .no-results {
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
    padding: 25px;
    font-weight: 400;
  };

  .MuiAlert-root {
    margin: 0px 200px;
  }
};